= simple_form_for(@acronym) do |f|
  = f.error_notification

  .form-inputs
    = f.input :acronym, input_html: { value: f.object.acronym || params[:acronym] }
    = f.input :definition
    = f.input :url, :hint => 'Full path including protocol (http etc.)'
    = f.input :info, :hint => 'Extra info is useful but not required'

  .form-actions
    = f.button :submit
