- if current_user
  Signed in as #{current_user.name} #{link_to 'Sign out', signout_path}
- else
  = link_to 'Sign in with Twitter', '/auth/twitter'

- if current_user
  = simple_form_for(@acronym) do |f|
    = f.error_notification

    .form-group
      = f.input :acronym, input_html: { class: "form-control", value: f.object.acronym || params[:acronym] }
      = f.input :definition, input_html: { class: "form-control" }
      = f.input :url, :hint => 'Full path including protocol (http etc.)', input_html: { class: "form-control" }
      = f.input :info, :hint => 'Extra info is useful but not required', input_html: { class: "form-control" }

    = f.button :submit, class: "btn btn-primary"
