%a.btn.btn-primary.pull-right{ :href => new_acronym_path }
  %i.icon-plus.icon-white
  Add acronym

%p.toggles If you know an acronym, please define it here. If there is an acronym you need to know, please add it so somebody can define it.

%dl
  - @acronyms.each do |acronym|
    %dt
      - if acronym.definition.present?
        = link_to acronym.acronym, acronym_path(acronym)
      - else
        #{acronym.acronym}

    %dd
      - if acronym.definition.present?
        %p
          %em= acronym.definition
        - if acronym.info.present?
          %p= acronym.info
          - if acronym.url.present?
            %p
              = link_to acronym.url, :rel => 'external' do
                More about #{acronym.definition}
                %i.icon-share
      - else
        %p= link_to "Define #{acronym.acronym}", edit_acronym_path(acronym)
    

%p
  All your acronyms are belong to us! 
  %a(href="http://bit.ly/12wzRHl") Huh?!
