%p#notice= notice

%p
  %b Acronym:
  = @acronym.acronym
%p
  %b Definition:
  = @acronym.definition
%p
  %b Url:
  = @acronym.url
%p
  %b Info:
  = @acronym.info

= link_to 'Edit', edit_acronym_path(@acronym)
\|
= link_to 'Back', acronyms_path
