<!DOCTYPE html>
<html>
<head>
  <title>Big Book of Acronyms (BBA)</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="navbar navbar-dark bg-dark justify-content-between">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>"><span class="hidden-phone">Big Book of Acronyms (</span>BBA<span class="hidden-phone">)</span></a>

      <form accept-charset="UTF-8" action="<%= acronyms_path %>" class="form-inline" method="get">
        <input type="text" class="form-control" placeholder="Find an acronym" name="search" id="search" value="<%= params[:search] %>" autofocus />
      </form>
    </div>
  </div>

  <% if notice.present? %>
    <p><%= notice %></p>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
